# **Pandas or Python Data Analysis Library** 

*   Fast and easy data cleaning / analysis
*   Often used with NumPy, Matplotlib

In [263]:
import pandas as pd
# whenever you see pd. -> it refers to pandas

## **pandas Data Structure**

*   pd.Series (1D array-like)
*   pd.DataFrame (Table of data)

In [264]:
obj = pd.Series([4, 7, -5, 3])
obj #left=index, right=value

0    4
1    7
2   -5
3    3
dtype: int64

In [265]:
obj.values

array([ 4,  7, -5,  3])

In [266]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [267]:
obj * 5

0    20
1    35
2   -25
3    15
dtype: int64



> pandas Series - labeled index

In [268]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [269]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [270]:
obj2['a']

-5

### **DataFrame**

*   Data Table

In [271]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
df = pd.DataFrame(data)

df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [272]:
df.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [273]:
df['state']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

In [274]:
df.year

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: year, dtype: int64

In [275]:
df.columns

Index(['state', 'year', 'pop'], dtype='object')

In [276]:
df.columns = ['US-States', 'Year', 'Population']
df

  US-States  Year  Population
0      Ohio  2000         1.5
1      Ohio  2001         1.7
2      Ohio  2002         3.6
3    Nevada  2001         2.4
4    Nevada  2002         2.9
5    Nevada  2003         3.2

In [277]:
# retrieve entire row using DataFrame.loc[index]
df.loc[3]

US-States     Nevada
Year            2001
Population       2.4
Name: 3, dtype: object

In [278]:
# add column
df['debt'] = 16.5
df

  US-States  Year  Population  debt
0      Ohio  2000         1.5  16.5
1      Ohio  2001         1.7  16.5
2      Ohio  2002         3.6  16.5
3    Nevada  2001         2.4  16.5
4    Nevada  2002         2.9  16.5
5    Nevada  2003         3.2  16.5

In [279]:
# add column, array values
import numpy as np
df['debt'] = np.arange(6)
df

  US-States  Year  Population  debt
0      Ohio  2000         1.5     0
1      Ohio  2001         1.7     1
2      Ohio  2002         3.6     2
3    Nevada  2001         2.4     3
4    Nevada  2002         2.9     4
5    Nevada  2003         3.2     5

Add array as new column, mismatch value's length...

In [280]:
newValue = pd.Series([99,98,97])
df['new'] = newValue          
df      
# NaN = Not-a-Number
# Will discuss how to deal with NaN later on at Data Pre-processing Section

  US-States  Year  Population  debt   new
0      Ohio  2000         1.5     0  99.0
1      Ohio  2001         1.7     1  98.0
2      Ohio  2002         3.6     2  97.0
3    Nevada  2001         2.4     3   NaN
4    Nevada  2002         2.9     4   NaN
5    Nevada  2003         3.2     5   NaN



---

## **Indexing, Selection, and Filtering in pandas**

In [281]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [282]:
data['two']

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int64

In [283]:
data['three']['Utah']

10

In [284]:
data[['three', 'one']]

          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12

In [285]:
data[:2]

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

Indexing with condition

In [286]:
data[data['three'] > 5]

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [287]:
# look at Boolean indexing
data < 5

            one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
New York  False  False  False  False

In [288]:
data[data < 5] = 0
data

          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15




---


## **Arithmetic and Data Alignment**

In [289]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),
                   index=['Ohio', 'Texas', 'Colorado'])
df1

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0

In [290]:
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                             index=['Utah', 'Ohio', 'Texas', 'Oregon'])
df2

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [291]:
df1 + df2 #ONLY add data with same Column same Index together

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN



> Arithmetic methods with fill values

In [292]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                   columns=list('abcd'))
df1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [293]:
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                   columns=list('abcde'))
df2.loc[1, 'b'] = np.nan
df2

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [294]:
df1+df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0   NaN  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [295]:
# fill_value -> making NaN=0 before the addition
df1.add(df2, fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0



---

## **Sorting in pandas**

In [296]:
frame = pd.DataFrame({'a': [0, 1, 0, 1], 'b': [4, 7, -3, 2]})
frame

   a  b
0  0  4
1  1  7
2  0 -3
3  1  2

In [297]:
frame.sort_values(by='b')
# look at the changes in index

   a  b
2  0 -3
3  1  2
0  0  4
1  1  7

In [298]:
# sort by multiple column
frame.sort_values(by=['a', 'b'])

   a  b
2  0 -3
0  0  4
3  1  2
1  1  7



---

## **Summarizing and Computing Descriptive Statistics**

In [299]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  columns=['one', 'two'])
df

    one  two
0  1.40  NaN
1  7.10 -4.5
2   NaN  NaN
3  0.75 -1.3

In [300]:
# DataFrame sum(method) returs a Series containing column sums
df.sum()

one    9.25
two   -5.80
dtype: float64

In [301]:
# summation across column instead
df.sum(axis='columns')

0    1.40
1    2.60
2    0.00
3   -0.55
dtype: float64

In [302]:
# look at index with NaN, normally NaN values are skipped
df.mean(axis='columns')

0    1.400
1    1.300
2      NaN
3   -0.275
dtype: float64

In [303]:
# Disable skip NaN with skipna=False
df.mean(axis='columns', skipna=False)

0      NaN
1    1.300
2      NaN
3   -0.275
dtype: float64

In [304]:
# Some methods, like idxmin and idxmax, return indirect statistics like the index value where the minimum or maximum values are attained:
df.idxmax()

one    1
two    3
dtype: int64

In [305]:
# producing multiple summary statistics in one shot
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

## **Correlation**

In [306]:
df = pd.DataFrame([(70, 180), (61, 160), (64, 177), (71, 182), (71, 179)],
                  columns=['weight(kg)', 'height(cm)'])
df

   weight(kg)  height(cm)
0          70         180
1          61         160
2          64         177
3          71         182
4          71         179

In [307]:
df.corr(method='pearson')

            weight(kg)  height(cm)
weight(kg)    1.000000    0.862561
height(cm)    0.862561    1.000000

In [308]:
corrResult = df.corr(method='pearson')
corrResult['weight(kg)']

weight(kg)    1.000000
height(cm)    0.862561
Name: weight(kg), dtype: float64



---
## **Unique Values, Value Counts, and Membership**

In [309]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [310]:
# Find unique values in the Serie 
obj.unique()

array(['c', 'a', 'd', 'b'], dtype=object)

In [311]:
# value_counts computes a Series containing value frequencies
obj.value_counts()

c    3
a    3
b    2
d    1
dtype: int64

In [312]:
pd.value_counts(obj.values, sort=False)

c    3
a    3
d    1
b    2
dtype: int64

In [313]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [314]:
mask = obj.isin(['b', 'c'])
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool



---


## **Data Cleaning and Preparation**



### **Handling Missing Data**

*   Not-a-Number (NaN)

In [315]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [316]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

> NA handling methods
>* dropna() Filter axis labels based on whether values for each label have missing data, with varying thresholds for how
much missing data to tolerate.
>* fillna() Fill in missing data with some value or using an interpolation method such as 'ffill' or 'bfill'.
>* isnull() Return boolean values indicating which values are missing/NA.
>* notnull() Negation of isnull.

**Filter Out Missing Data**

In [317]:
from numpy import nan as NA

data = pd.Series([1, NA, 3.5, NA, 7])
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [318]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [319]:
# same result
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [320]:
# DataFrame object
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [321]:
# Drop and row containing NaN
cleaned = data.dropna()
cleaned

     0    1    2
0  1.0  6.5  3.0

In [322]:
# Only drop the rows with all NaN
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [323]:
# Add new Column
data[4] = NA
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [324]:
# To drop column, pass parameter axis=1
data.dropna(axis=1, how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

### **Filling in Missing Data**

In [325]:
# Create New DataFrame with some NaN
df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
df

          0         1         2
0 -0.136273       NaN       NaN
1  1.007854       NaN       NaN
2 -0.048658       NaN  0.324215
3  1.271427       NaN -0.499044
4  0.836915 -0.105994  0.079738
5  0.629691 -0.597289 -0.281563
6  0.633172  0.136061 -0.225363

In [326]:
df.fillna(0)

          0         1         2
0 -0.136273  0.000000  0.000000
1  1.007854  0.000000  0.000000
2 -0.048658  0.000000  0.324215
3  1.271427  0.000000 -0.499044
4  0.836915 -0.105994  0.079738
5  0.629691 -0.597289 -0.281563
6  0.633172  0.136061 -0.225363

In [327]:
# Fill in different value for each column
# Column 1: fillin 0.5
# Column 2: fillin 0
df.fillna({1: 0.5, 2: 0})

          0         1         2
0 -0.136273  0.500000  0.000000
1  1.007854  0.500000  0.000000
2 -0.048658  0.500000  0.324215
3  1.271427  0.500000 -0.499044
4  0.836915 -0.105994  0.079738
5  0.629691 -0.597289 -0.281563
6  0.633172  0.136061 -0.225363

In [328]:
# Create new df
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = NA
df.iloc[4:, 2] = NA
df

          0         1         2
0  0.069667  0.914054  0.467074
1 -1.213684  0.963501  1.729323
2 -0.154754       NaN  0.135748
3  0.610195       NaN -0.238449
4  0.289687       NaN       NaN
5  0.988058       NaN       NaN

In [329]:
df.mean()

0    0.098195
1    0.938778
2    0.523424
dtype: float64

In [330]:
# fill in using dataFrame's mean
df.fillna(df.mean())

          0         1         2
0  0.069667  0.914054  0.467074
1 -1.213684  0.963501  1.729323
2 -0.154754  0.938778  0.135748
3  0.610195  0.938778 -0.238449
4  0.289687  0.938778  0.523424
5  0.988058  0.938778  0.523424

In [331]:
#fill in using interpolation methods
df.fillna(method='ffill')

          0         1         2
0  0.069667  0.914054  0.467074
1 -1.213684  0.963501  1.729323
2 -0.154754  0.963501  0.135748
3  0.610195  0.963501 -0.238449
4  0.289687  0.963501 -0.238449
5  0.988058  0.963501 -0.238449

## **Data Transformation**

### **Removing Duplicates**

In [332]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

The DataFrame method duplicated returns a boolean Series indicating whether each row is a duplicate (has been observed in a previous row) or not:

In [333]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [334]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [335]:
data.drop_duplicates(keep='last')

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
6  two   4

In [336]:
# Add a column
data['v1'] = range(7)
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [337]:
# filter out duplicates in 'k1' column
data.drop_duplicates(['k1'])

    k1  k2  v1
0  one   1   0
1  two   1   1

### Transforming Data Using a Function or Mapping

In [338]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [339]:
# Create mapping dict
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}

In [340]:
lowercased = data['food'].str.lower()
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [341]:
data['animal'] = lowercased.map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

### **Replacing Values**

In [342]:
# in case there are some obvious wrong data values
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [343]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [344]:
# replace multiple values at once,
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [345]:
# different replacement for each value
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [346]:
# different replacement for each value
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64